* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

#one nav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  background: #9fcfe7 url("assets/lalibela.jpg");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: #9e9898;
}

#one nav .logo {
  font-size: 30px;
  margin-left: 40px;
  font-weight: 900;
  margin-top: 10px;
}

#one nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#one nav .navigation span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 50px;
  cursor: pointer;
  height: 35px;
}

#one nav .navigation span:hover {
  border-bottom: 2px solid white;
}

#one nav .navigation .contact {
  height: auto;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 5px 20px;
  border-radius: 5px;
  width: 180px;
  text-align: center;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #2092be;
}

#one nav .navigation .contact:hover {
  background-color: inherit;
  border: 2px solid white;
}

#two {
  background-color: whitesmoke;
}

#two .packageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
}

#two .packageContainer .package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  cursor: pointer;
}

#two .packageContainer .package:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#two .packageContainer .package .left {
  margin-right: 10px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

#two .packageContainer .package .left img {
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

#two .packageContainer .package .center {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 10px;
  margin-right: 10px;
  border-right: 1px solid lightgray;
}

#two .packageContainer .package .center h3 {
  color: #4d4d4d;
  margin-bottom: 10px;
}

#two .packageContainer .package .center span {
  color: gray;
}

#two .packageContainer .package .right {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#two .packageContainer .package .right button {
  border: none;
  padding: 10px 25px;
  background-color: #2092be;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#four {
  height: 250px;
  background-color: #2092be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 10px;
}

#four h2 {
  letter-spacing: 4px;
}

#four .bottomText {
  font-size: 12px;
}

#four .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#four .subscribe input {
  padding: 11px;
  border: none;
  margin-right: 5px;
}

#four .subscribe input:focus {
  outline: none;
}

#four .subscribe .button {
  background-color: #2092be;
  padding: 10px 25px;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

#five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#five .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

#five .footerContainer .listBrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#five .footerContainer .listBrand .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#five .footerContainer .listBrand .brand img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -40px;
}

#five .footerContainer .listBrand .brand h3 {
  color: #2092be;
  font-weight: 700;
  border: none;
}

#five .footerContainer .listBrand p {
  color: grey;
}

#five .footerContainer .listBrand span {
  color: #2092be;
}

#five .footerContainer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 40px;
}

#five .footerContainer .list h3 {
  font-weight: 400;
  border-bottom: 2px solid #2092be;
  margin-bottom: 20px;
}

#five .footerContainer .list span {
  color: #2092be;
  font-weight: 300;
  margin-bottom: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  cursor: pointer;
}

#five .footerContainer .list span:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#five .copyright {
  text-align: center;
  padding: 50px;
  color: grey;
}
/*# sourceMappingURL=packages.css.map */