* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#one {
  color: white;
  background: #9fcfe7 url("assets/lalibela.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: #9e9898;
}

#one nav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

#one nav .logo {
  font-size: 30px;
  margin-left: 40px;
  font-weight: 900;
  margin-top: 10px;
}

#one nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#one nav .navigation span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 50px;
  cursor: pointer;
}

#one nav .navigation .contact {
  background-color: #3a7bfc;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 5px 20px;
}

#one .hero {
  height: 76%;
  margin-top: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#one .hero span:nth-child(1) {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  letter-spacing: 6px;
}

#one .hero h1 {
  letter-spacing: 3px;
  font-size: 70px;
}

#one .hero span:nth-child(3) {
  width: 15%;
  height: auto;
  background-color: #3a7bfc;
  letter-spacing: 4px;
  padding: 10px;
}

#one .hero .scrollAnimation {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#one .hero .scrollAnimation .outer {
  width: 60px;
  height: 60px;
}

#one .hero .scrollAnimation .inner {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  -webkit-animation: scroll 2s ease-in-out infinite;
          animation: scroll 2s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes scroll {
  to {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
}

@keyframes scroll {
  to {
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
}

#two h3 {
  text-align: center;
  padding: 60px;
  font-family: "Playfair Display", serif;
  font-size: 30px;
}

#two .listContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

#two .listContainer .list {
  position: relative;
}

#two .listContainer .list img {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

#two .listContainer .list .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

#two .listContainer .list .heading span {
  background-color: #3a7bfc;
  padding: 10px;
  cursor: pointer;
}

#three {
  position: relative;
}

#three img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#three .optionContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
}

#three .optionContainer .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: white;
}

#three .optionContainer .option span:nth-child(1) {
  font-style: italic;
  font-size: 20px;
}

#three .optionContainer .option span:nth-child(2) {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 4px;
}

#three .optionContainer .option span:nth-child(3) {
  color: white;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 6px;
  background-color: #3a7bfc;
  padding: 5px 15px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */